:root {
    --azul: #1c3c72;
    --cinza: #616161;
    --gradienteAzul: linear-gradient(45deg, #1b5183, #2bc6e1);
}

p {
    color: var(--cinza);
    font-size: 1.3em;
    letter-spacing: .05em;
    line-height: 1.4em;
    margin: 0 30px 60px;
}

h1 {
    font-size: 2.5em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: var(--cinza);
    margin: 0 30px 60px;
    text-align: center;
}

html, body{
    overflow-x: hidden;
}

.grid{
    width: 1400px;
}

@media (max-width:1360px) {
    p {
        font-size: .9em;
        letter-spacing: .05em;
        line-height: 1.4em;
        margin: 0 200px 40px;
    }
    
    h1 {
        font-size: 1.5em;
        margin: 0 200px 40px;
    }

    .grid{
        width: 900px;
    }
}

@media (max-width:700px) {
    p {
        font-size: .9em;
        letter-spacing: .05em;
        line-height: 1.4em;
        margin: 0 40px 40px;
    }
    
    h1 {
        font-size: 1.5em;
        margin: 0 40px 40px;
        z-index: 2;
    }
}

/* ANIMAÇÔES */
@keyframes balanco {
    from {
      transform: rotate(5deg);
    }
    to {
      transform: rotate(-5deg);
    }
}

/* MENU */
header{
    background: rgba(0, 0, 0, .9);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu img{
    margin: 20px 30px;
    height: 60px;
    transition: .3s ease-in-out;
}

.menu img:hover{
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

.menu ul{
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}

.menu li a{
    padding: 0 20px;
    cursor: pointer;
    transition: .3s ease-in-out;
    animation: hoverLink 5s ease-in-out infinite;
    color: rgba(122, 122, 122);
}

.menu li a:hover{
    transform: scale(1.03);
    transition: .3s ease-in-out;
    background: linear-gradient(270deg, #810d9d, #00caf5, #c3ff01);
    background-size: 300% 300%;
    background-clip: text;
    -webkit-background-clip:text;
    color:rgba(0,0,0,0);
    animation: hoverLink 5s ease-in-out infinite;
}

@keyframes hoverLink{
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
}

.icone_menu_mobile{
    display: none;
    width: 30px;
    cursor: pointer;
}

.abreMenu{
    display: flex!important;
}

.menuMobile{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 105;
}
.menuMobile .fechar{
    opacity: .5;
}

.itens{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.itens li{
    padding: 20px;
}

.menuMobile img{
    height: 50px;
    margin-bottom: 30px;
}

.menuMobile .menu{
    flex-direction: column;
}

@media (max-width: 500px) {
    .menuMobile .menu li a{
        font-size: 1.4em;
    }

    .menuMobile img{
        height: 70px;
        margin-bottom: 30px;
    }
}

@media (max-width: 350px) {
    .menuMobile .menu li a{
        font-size: 1em;
    }

    .menuMobile img{
        height: 50px;
        margin-bottom: 30px;
    }
}

@media (max-width: 1360px) {
    .menu img{
        margin: 15px 30px;
        height: 40px;
    }
    .menu li a{
        font-size: .9em;
        padding: 0 10px;
    }
}

@media (max-width: 700px) {
    .menu img{
        margin: 15px 30px;
        height: 50px;
    }

    .menu ul{
        display: none;
    }

    .icone_menu_mobile{
        display: block;
        width: 20px;
    }
}

/* BANNER 1 */
.containerBanner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/arte_elvis_blur_2.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 160px;
}

.banner1{
    margin: 100px 50px;
    max-width: 100%;
}
.containerBanner{
    height: 100vh;
}

.seta{
    width: 150px;
    position: absolute;
    right: 5%;
    bottom: -100px;
    animation: balanco 2s ease-in-out infinite alternate;
}

@media (max-width: 1360px) {
    .banner1{
        margin: 30px 50px;
        padding: 30px;
        max-width: 50%;
    }
    
    .seta{
        width: 100px;
        position: absolute;
        right: 0;
        bottom: -50px;
    }

    .containerBanner{
        margin-bottom: 60px;
    }
    
}

@media (max-width: 700px) {
    .banner1{
        margin: 30px 50px;
        padding: 30px;
        max-width: 100%;
    }
    
    .seta{
        width: 80px;
        position: absolute;
        right: -5%;
        bottom: -50px;
    }

    .containerBanner{
        margin-bottom: 60px;
    }
    
}

/* CONHEÇA */
.containerConheca{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conheca{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 100px;
}

.spray{
    width: 200px;
    position: absolute;
    left: 0;
    bottom: -200px;
}

@media (max-width: 1360px) {
    .spray{
        width: 120px;
        bottom: -100px;
    }

    .conheca{
        margin-bottom: 20px;
    }

    .spray{
        width: 150px;
        position: absolute;
        left: 0;
        bottom: -160px;
    }

}

@media (max-width: 700px) {
    .spray{
        width: 120px;
        bottom: -100px;
    }

    .conheca{
        margin-bottom: 20px;
    }

}

/* ARTISTAS */
.containerArtistas{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 160px;
}

.containerCardsArtistas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    justify-items: center;
    text-align: center;
    width: 100%;
}

.cardsArtistas{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 1s ease-in-out;
}

.cardsArtistas:hover{
    background-position: 10px 10px;
    transition: 1s ease-in-out;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    height: 600px;
}

.info img{
    max-width: 200px;
    transition: .3s ease-in-out;
}

.nomeArtista{
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    margin: 30px 0 0 0;
    transform:translateY(-60px);
    transition: .3s ease-in-out;
    opacity: 0;
}

.infoH1Hover{
    transform:translateY(0px) scale(1.1);
    transition: .3s ease-in-out;
    opacity: 1;
}

@media (max-width:1360px) {
    .containerArtistas{
        margin-top: 40px;
    }

    .info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 600px;
        height: 400px;
    }

    .info h1{
        font-size: 1em;
    }
    
}

@media (max-width:700px) {
    .containerArtistas{
        margin-top: 60px;
    }

    .info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 600px;
        height: 400px;
    }
    
}

.elvis {
    background: url(../img/arte_elvis_black.jpg);
}

.enivo {
    background: url(../img/arte_enivo_black.jpg);
}

.tarik {
    background: url(../img/arte_tarik_black.jpg);
}

.binho {
    background: url(../img/arte_binho_black.jpg);
}

.shn {
    background: url(../img/arte_shn_black.jpg);
    background-position: 0 -100px;
}

/* ONDE ENCONTRAR */
.containerOndeEncontrar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 160px;
}

.rostinho{
    position: absolute;
    width: 250px;
    right: -30px;
    top: -200px;
    animation: balanco 4s ease-in-out infinite alternate;
    z-index: 1;
}

.ondeEncontrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ondeEncontrar h1, .ondeEncontrar p{
    text-align: left;
}

.ondeEncontrar p{
    max-width: 600px;
    margin-right: 80px;
}

.containerOndeEncontrar a{
    color: var(--azul);
    font-weight: 700;
}

.mapa{
    position: relative;
}

.mapa p{
    position: absolute;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.fotoMapa{
    max-width: 600px;
    margin: 30px;
}

.pin1{
    position: absolute;
    width: 80px;
    left: 175px;
    bottom: 180px;
    cursor: pointer;
}

.pin2{
    position: absolute;
    width: 80px;
    left: 160px;
    bottom: 280px;
    cursor: pointer;
}

.pin3{
    position: absolute;
    width: 80px;
    right: 190px;
    bottom: 440px;
    cursor: pointer;
}

.pin4{
    position: absolute;
    width: 80px;
    right: 200px;
    bottom: 280px;
    cursor: pointer;
}

.pin5{
    position: absolute;
    width: 80px;
    right: 160px;
    bottom: 220px;
    cursor: pointer;
}

.mapa img{
    transition: .3s ease-in-out;
}

.mapa li img:hover{
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

.mapa li{
    display: flex;

}

.mapa .pin{
    display: none;
    width: 80px;
    margin: 0 0 0px 0;
    text-align: center;
    font-size: 1em;
    z-index: 1;
    background: white;
    transition: .3s ease-in-out;
    opacity: 0;
}

.mapa .pinHover{
    display: block;
    width: 80px;
    margin: 0 0 90px 0;
    text-align: center;
    font-size: 1em;
    z-index: 1;
    background: white;
    transition: .3s ease-in-out;
    opacity: 1;
}

.mapa .pinHoverMobile{
    display: block;
    width: 0px;
    margin: 0 -20px 15px 0px;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    transition: .3s ease-in-out;
    opacity: 1;
    transform: scale(0.8);
}

@media (max-width: 1360px) {

    .fotoMapa{
        max-width: 350px;
    }
    
    .mapa{
        margin: 0 200px 0 0;
    }
    
    .pin1{
        position: absolute;
        width: 45px;
        left: 110px;
        bottom: 140px;
    }
    
    .pin2{
        position: absolute;
        width: 45px;
        left: 120px;
        bottom: 85px;
    }
    
    .pin3{
        position: absolute;
        width: 45px;
        right: 120px;
        bottom: 270px;
    }
    
    .pin4{
        position: absolute;
        width: 45px;
        right: 130px;
        bottom: 150px;
    }
    
    .pin5{
        position: absolute;
        width: 45px;
        right: 105px;
        bottom: 110px;
    }

    .rostinho{
        position: absolute;
        width: 150px;
        right: -30px;
        top: -200px;
    }

}

@media (max-width: 700px) {
    .ondeEncontrar{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .ondeEncontrar p{
        padding: 30px;
        text-align: center;
        margin: 0 auto;
    }
    
    .ondeEncontrar h1{
        padding: 30px;
        text-align: center;
        margin: -60px auto 0;
    }

    .mapa{
        margin: 0 10px 40px;
    }
    
    .mapa p{
        margin: -40px 0 0 0;
    }

    .mapa li img{
        z-index: 2;
    }
}

/* GALERIA */
.containerGaleria{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seta2{
    position: absolute;
    width: 500px;
    left: -30px;
    top: -200px;
    animation: balanco 8s ease-in-out infinite alternate;
}

.fotos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    align-items: center;
    justify-items: center;
    text-align: center;
    width: 100%;
}

.foto {
    height:100%;
    overflow: hidden;
    cursor: pointer;
    
}

.foto img{
    width: 100%;
    transform: scale(1);
    filter: saturate(0);
    opacity: .8;
    transition: .3s ease-in-out;
}

.foto img:hover{
    filter: saturate(1);
    opacity: 1;
    transform: scale(1.05);
    transition: .3s ease-in-out;
}

.lightBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .9);
    z-index: 101;
}

.lightBoxClose{
    display: none;
}

.fechar{
    width: 20px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 30px;
    transition: .1s ease-in-out;
}

.fechar:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: .1s ease-in-out;
}

.fotoGrande{
    max-width: 60%;
}

@media (max-width: 700px) {
    .fotos{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .seta2{
        width: 300px;
    }

    .fotoGrande{
        max-width: 100%;
    }

    .fotos{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        align-items: center;
        justify-items: center;
        text-align: center;
        width: 100%;
    }
}

/* RODAPÉ */
.containerRodape{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgb(26, 26, 26);
}

.containerRodape p{
    color: rgb(124, 124, 124);
    margin: 0;
    padding: 20px;
    font-size: 1em;
    text-align: center;
}

@media (max-width: 1360px) {
    .containerRodape p{
        font-size: .7em;

    }
}

@media (max-width: 700px) {
    .containerRodape p{
        padding: 20px;
        font-size: .7em;

    }
}
